*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

h1{
    text-align:  center;
    text-shadow: 2px 2px 4px rgb(115, 235, 157);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}
.pokemon-container{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
}

.stats-container{
    margin-top: 10px;
    margin-bottom: 10px;
}
.stat-element{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pokemon-block{
    background-color: rgb(147, 212, 252);
    border-radius: 20px;
    width: 350px;
    margin-left: 70px;
    margin-bottom: 50px;
    border: 7px solid black;
}
.pokemon-block:hover{
    transform: scale(1.1);
    transition: 0,3s;
}
.titulo{
    text-align: center;
    font-size: 34px;
    color: #000;
    text-shadow: 2px 2px 4px rgb(22, 240, 222);
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    background-color: rgb(46, 5, 84);
}
.number{
    font-size: 20px;
    color: #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.experiencia-pokemons{
    font-size: 20px;
    color: #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.peso-pokemon{
    font-size: 20px;
    color: #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contenedor-imagen{
    width: 250px;
    height: 250px;
    margin-left: 70px;
    background-color: rgb(31, 4, 57);
    border-radius: 300px;
}

.imagen{
    display: flex;
    margin: 0 auto;
    width: 200px;
    text-align: center;
}

@media screen and (max-width: 600px){
    body{
        width: 100%;
    }

    h1{
      text-align: center;
    }

    .pokemon-container{
        width: 100%;
        color: #000;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .pokemon-block{
        width: 400px;
        margin-top: 20px;
        margin-right: 60px;
        justify-content: center;
        align-items: center;
    }

    .contenedor-imagen{
        width: 200px;
        height: 200px;
        margin-right: 20px;
    }
    
    .imagen{
        margin-left: 20px;
        width: 150px;
    } 

    .stat-element{
        font-size: 20px;
        color: #000;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}